* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;  
  scrollbar-width: none;  
  -ms-overflow-style: none;  
}

html::-webkit-scrollbar {
  display: none;  
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
}

// Вертикальные цифры (1-8) 
.cg-wrap coords.ranks {
  left: auto !important;
  right: 2px !important;       
  top: -28px !important;        
  bottom: auto !important;
  text-align: right !important; 
  font-size: 0.6em !important;
}

// Горизонтальные буквы 
.cg-wrap coords.files {
  bottom: -4px !important;
  left: 2px !important;
  right: auto !important;
  text-align: left !important;
  font-size: 0.6em !important;
}